spring:
  application:
    name: viewith-server

  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/viewith-db
    username: sa
    password:
  # test용 설정
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    # test용 설정
    defer-datasource-initialization: true

  jackson:
    property-naming-strategy: SNAKE_CASE

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace